*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: rgb(0, 0, 0, .8);
	background-repeat: no-repeat;

}

body, .quote-input{
	font-family: 'PT Sans', sans-serif;
}

.container {
	background: #667eea;
	width: 500px;
	max-width: 80%; 
	padding: 1.1rem;
	border-radius: .5rem;
	position: relative;
	top: 70px;

}

.timer {
	position: absolute;
	top: 2rem;
	font-size: 4rem;
	color: #667eea;
	font-weight: bold;
}

.quote-display{
	margin-bottom: 1rem;
	margin-left: 15px;
	margin-right: 15px;

}

.quote-input{
	background: transparent;
	border: 2px soild #fda085;
	/*outline: none;*/
	width: 100%;
	height: 7rem;
	margin: auto
	resize: none;
	padding: .5rem 1rem;
	font-size: 2rem;
	border-radius: .5rem;
	font-family: 'PT Sans', sans-serif;
}

.quote-input:focus{
	border-color: black;

}

.correct{
	color: green;
}

.incorrect{
	color: red;
	text-decoration: underline;
}

@media screen and (max-width: 400px) {

		body{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}
		.timer{
			top: 2.2rem;
			font-size: 2.5rem;
		}
		
	}

